In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib notebook

# Climate data analysis

In [2]:
province_list = ["Heilongjiang", "Jilin", "Liaoning", "Jiangsu", "Anhui", "Hubei", "Sichuan", "Guizhou", "Yunnan",
                 "Jiangxi2S", "Hunan2S", "Hunan1S", "Jiangxi1S", "Zhejiang", "Fujian1S", "Guangdong", "Guangxi", "Hainan", "Fujian2S"]
base_path = "C:/Users/Dell/PycharmProjects/WQQM_PIDU/wf_new/"
# 读取降雨数据
prcp_dic = {}
for province in province_list:
    prcp_file = "{}{}/totally decentralized/prcp_A.txt".format(base_path, province)
    prcp_dic[province] = pd.read_csv(prcp_file, sep="\t", header=0, skiprows=1, index_col=0)
prcp_A = pd.concat(list(prcp_dic.values()), axis=1)
prcp_A.transpose().describe()

date,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,...,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,761.235088,734.143860,749.719298,760.542105,714.824561,893.043860,903.970175,842.650877,829.861404,924.659649,...,879.828070,751.194737,922.996491,744.966667,905.514035,759.852632,872.800000,928.229825,996.029825,862.492982
std,338.374654,352.647843,349.624600,313.538068,361.863112,487.315292,477.913241,389.228610,405.115693,550.111796,...,517.012452,487.028564,504.942766,465.931527,407.795614,492.532475,432.681528,463.529971,468.222700,482.738337
min,338.600000,281.400000,232.500000,180.000000,313.800000,344.500000,286.300000,324.100000,325.600000,299.100000,...,258.900000,259.800000,359.800000,254.600000,398.500000,278.300000,251.100000,330.300000,335.600000,360.300000
25%,544.600000,469.900000,480.200000,518.900000,445.100000,530.900000,562.000000,526.600000,573.900000,490.400000,...,570.400000,459.400000,548.800000,412.800000,578.700000,425.400000,555.600000,552.000000,670.900000,538.000000
50%,654.400000,672.200000,648.000000,682.700000,583.800000,742.900000,719.800000,780.600000,678.400000,731.500000,...,723.800000,627.700000,728.000000,627.900000,742.400000,579.000000,822.500000,838.800000,930.800000,697.100000
75%,916.800000,862.600000,934.100000,988.300000,887.300000,1092.100000,1227.700000,1096.700000,990.200000,1266.700000,...,949.500000,807.900000,1247.400000,923.800000,1206.800000,858.200000,1136.600000,1261.500000,1354.700000,1101.900000
max,1968.500000,1822.000000,1753.600000,1606.600000,1719.500000,2380.800000,1946.200000,1762.700000,2131.400000,2267.000000,...,2437.400000,2342.200000,2784.600000,2667.400000,2055.900000,2468.800000,2051.000000,2315.600000,2253.800000,2458.600000

In [5]:
# 读取PET数据
pet_dic = {}
for province in province_list:
    pet_file = "{}{}/totally decentralized/PET_d.txt".format(base_path, province)
    et_file = "{}{}/totally decentralized/ET_d.txt".format(base_path, province)
    pet_d = pd.read_csv(pet_file, sep="\t", header=0, index_col=0, parse_dates=True)
    et_d = pd.read_csv(et_file, sep="\t", header=0, skiprows=1, index_col=0, parse_dates=True)
    pet_filter = pet_d.loc[et_d.dropna().index, :]
    pet_dic[province] = pet_filter.resample("A", kind="period").sum()
pet_A = pd.concat(list(pet_dic.values()), axis=1)
pet_A.transpose().describe()

date,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,...,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,602.133684,581.153684,600.462456,595.994386,595.829474,559.246316,595.039298,590.676667,576.507544,564.266667,...,584.941404,612.422105,594.545789,683.849123,671.115088,636.254386,582.405965,577.838246,595.812807,622.146667
std,157.414989,162.497072,146.452593,171.491387,154.407339,160.360902,137.107127,151.327587,157.089713,131.493644,...,160.675516,170.028535,154.886029,177.402408,174.770377,149.616741,180.873439,168.169796,155.746034,186.245213
min,369.360000,366.720000,356.100000,362.080000,390.540000,366.740000,360.230000,374.880000,367.790000,361.610000,...,351.820000,384.410000,378.980000,476.880000,442.540000,405.720000,382.550000,371.190000,366.710000,352.150000
25%,484.150000,444.550000,511.980000,463.930000,488.810000,433.030000,488.990000,487.720000,450.820000,471.670000,...,459.550000,480.450000,473.040000,523.840000,535.910000,523.290000,426.790000,456.190000,492.820000,484.660000
50%,550.290000,519.990000,550.550000,542.990000,523.680000,499.140000,552.140000,538.130000,519.240000,517.790000,...,540.860000,549.430000,549.950000,608.310000,605.130000,589.750000,513.270000,502.260000,543.690000,548.040000
75%,782.530000,745.680000,761.010000,782.590000,762.910000,703.510000,724.070000,744.970000,742.170000,677.630000,...,754.590000,825.040000,762.030000,878.000000,852.570000,799.310000,775.970000,725.920000,728.260000,771.950000
max,928.080000,940.470000,885.850000,936.970000,932.690000,949.910000,892.160000,906.640000,887.480000,849.420000,...,912.940000,917.240000,924.180000,1032.930000,1008.600000,905.270000,972.760000,991.430000,972.910000,1033.620000

In [7]:
pet_A1 = pet_A.reset_index()
pet_A1["date1"] = pet_A1["date"].astype("str").astype("int")
pet_A1.drop("date", axis=1, inplace=True)
pet_A1.rename(columns= {"date1": "date"}, inplace=True)
pet_A1.set_index("date", inplace=True)
pet_A1.index

Int64Index([1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
            1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
            2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017],
           dtype='int64', name='date')

In [8]:
AI_df = pet_A1 / prcp_A
AI_df.transpose().describe()

date,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,...,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,0.870283,0.909570,0.914181,0.916971,0.945594,0.740167,0.796309,0.803029,0.786149,0.775635,...,0.789744,0.978307,0.744795,1.125053,0.817383,1.039363,0.802603,0.748416,0.695925,0.832223
std,0.257146,0.378317,0.345093,0.472775,0.298861,0.305983,0.351062,0.312380,0.299443,0.361693,...,0.337379,0.393515,0.254502,0.447105,0.238917,0.415295,0.432395,0.373632,0.288499,0.290397
min,0.373525,0.484461,0.416225,0.330842,0.486907,0.340377,0.391782,0.391396,0.361606,0.274995,...,0.317205,0.359261,0.322671,0.362829,0.471742,0.307951,0.403928,0.315219,0.385833,0.373707
25%,0.656444,0.632167,0.677129,0.680108,0.699587,0.522095,0.527648,0.584559,0.576459,0.498988,...,0.570066,0.726323,0.573127,0.794957,0.649753,0.729760,0.536098,0.542727,0.501367,0.618691
50%,0.839809,0.790753,0.858843,0.874595,0.890829,0.688845,0.731924,0.719550,0.715311,0.712741,...,0.752980,0.908792,0.691372,1.056426,0.780705,1.045374,0.668872,0.639017,0.576986,0.829729
75%,1.027165,1.123349,1.078304,1.087881,1.116345,0.904052,0.904241,0.951669,0.955906,1.064176,...,0.948976,1.105240,0.868928,1.376619,0.964060,1.280371,0.883316,0.796352,0.841204,0.944089
max,1.609817,2.053696,2.388774,3.210278,1.787444,1.696553,1.823612,1.765967,1.823526,1.634929,...,2.153611,2.288260,1.540967,2.094389,1.592422,2.114985,2.280973,1.840145,1.407735,1.548722

# Calculate system irrigation self-sufficiency for the growing season scale

In [10]:
# 读取灌溉水数据
Iall_dic = {}
Iout_dic = {}
for province in province_list:
    if province in ["Heilongjiang", "Guizhou"]:
        Iall_file = "{}{}/partly centralized 1/I_all49.txt".format(base_path, province)
        Iout_file = "{}{}/partly centralized 1/I_out49.txt".format(base_path, province)
    else:
        Iall_file = "{}{}/totally decentralized/I_all49.txt".format(base_path, province)
        Iout_file = "{}{}/totally decentralized/I_out49.txt".format(base_path, province)
    Iall_dic[province] = pd.read_csv(Iall_file, sep="\t", header=0, skiprows=1, index_col=0)
    Iout_dic[province] = pd.read_csv(Iout_file, sep="\t", header=0, skiprows=1, index_col=0)
Iall_A = pd.concat(list(Iall_dic.values()), axis=1)
Iout_A = pd.concat(list(Iout_dic.values()), axis=1)
Irrg_rely = Iout_A / Iall_A
Irrg_rely.transpose().describe()

date,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,...,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000,57.000000
mean,0.707618,0.677900,0.688989,0.706595,0.714207,0.644362,0.644533,0.672750,0.666774,0.624839,...,0.648675,0.694715,0.670141,0.722021,0.675694,0.706896,0.669300,0.622606,0.663699,0.697901
std,0.143021,0.168231,0.154743,0.137467,0.139530,0.195463,0.185617,0.160010,0.166643,0.226383,...,0.172715,0.147258,0.173219,0.144802,0.158923,0.160356,0.159490,0.201586,0.167157,0.149357
min,0.381974,0.231994,0.300098,0.440020,0.409302,0.239936,0.261373,0.297738,0.286379,0.103825,...,0.193784,0.417395,0.208438,0.432197,0.373271,0.322761,0.402403,0.271620,0.319662,0.386093
25%,0.624867,0.553819,0.594440,0.600667,0.640308,0.515499,0.510896,0.554910,0.557224,0.447919,...,0.529946,0.586072,0.576105,0.596941,0.561556,0.617061,0.550479,0.468432,0.576352,0.602476
50%,0.691620,0.675772,0.680527,0.681586,0.691998,0.625918,0.640472,0.667412,0.656441,0.656473,...,0.640678,0.689847,0.677830,0.736101,0.648936,0.706624,0.623544,0.583274,0.638525,0.688904
75%,0.829684,0.802657,0.813472,0.838144,0.844593,0.787282,0.762992,0.797914,0.793613,0.786861,...,0.790262,0.820892,0.762695,0.826230,0.799201,0.811035,0.810070,0.803085,0.802310,0.817041
max,0.953508,0.961579,0.952549,0.954438,0.954812,0.952606,0.957146,0.951376,0.948964,0.949111,...,0.952508,0.952116,0.954148,0.964618,0.952019,0.966263,0.957640,0.957131,0.940247,0.948582

In [11]:
AI_df1 = AI_df.reset_index()
AI_graph = pd.melt(AI_df1, id_vars="date", var_name="station", value_name="Aridity Index")
Irrg_rely1 = Irrg_rely.reset_index()
Irrg_rely_graph = pd.melt(Irrg_rely1, id_vars="date", var_name="station", value_name="Remote water reliance rate")
AI_graph.set_index(["date", "station"], inplace=True)
Irrg_rely_graph.set_index(["date", "station"], inplace=True)
graph_df = pd.concat([AI_graph, Irrg_rely_graph], axis=1, ignore_index=False)
graph_df

              Aridity Index  Remote water reliance rate
date station
1988 50873         1.150220                    0.871943
1989 50873         1.557728                    0.888056
1990 50873         1.042163                    0.876595
1991 50873         1.087881                    0.864109
1992 50873         1.299777                    0.867934
...                     ...                         ...
2013 58818         0.966392                    0.681190
2014 58818         0.567629                    0.642496
2015 58818         0.383815                    0.549431
2016 58818         0.416677                    0.547824
2017 58818         0.858637                    0.687086

[1710 rows x 2 columns]

In [27]:
graph_df.describe()

,Aridity Index,Remote water reliance rate,Local storage volume (mm),Irrigation self-sufficiency
count,1710.000000,1710.000000,1710.000000,1710.000000
mean,0.860680,0.676796,52.052632,0.323204
std,0.387412,0.166989,26.276484,0.166989
min,0.274995,0.103825,12.000000,0.033737
25%,0.580715,0.561805,23.000000,0.189507
50%,0.777237,0.671769,55.000000,0.328231
75%,1.042107,0.810493,79.000000,0.438195
max,3.210278,0.966263,92.000000,0.896175

In [35]:
np.percentile(graph_df["Aridity Index"].values, [0,10,25,50,75,90,95,100])

array([0.27499529, 0.47168667, 0.58071527, 0.77723672, 1.04210682,
       1.35416565, 1.61266897, 3.21027778])

In [12]:
# 记录各省份沟塘占比数据
province_dic = {"Heilongjiang": [50873, 50953, 50756], "Jilin": [54064, 54186, 54266], "Jiangsu": [58354, 58241, 58038], "Anhui": [58319, 58326, 58215],
               "Hunan": [57673, 57779, 57874], "Sichuan": [57328, 56492, 56571], "Guizhou": [57731, 57825, 57910], "Yunnan": [56778, 56751, 56991],
               "Fujian": [58737, 58926, 58818], "Guangdong": [59306, 59097, 59478], "Guangxi": [57957, 59446, 59228], "Hainan": [59758, 59845, 59855],
               "Hubei": [57494, 57396, 57476], "Jiangxi": [57793, 58606, 58806], "Liaoning": [54342, 54470, 54353], "Zhejiang": [58448, 58562, 58464]}
province_dp_volume_TD = {"Heilongjiang": 18, "Jilin": 20, "Jiangsu": 55, "Anhui": 63, "Hunan": 88, "Sichuan": 12, "Guizhou": 13, "Yunnan": 44,
               "Fujian": 41, "Guangdong": 92, "Guangxi": 23, "Hainan": 60, "Hubei": 77, "Jiangxi": 79, "Liaoning": 39, "Zhejiang": 57}
province_dp_volume_PD1 = {"Heilongjiang": 18, "Jilin": 16, "Jiangsu": 47, "Anhui": 34, "Hunan": 22, "Sichuan": 10, "Guizhou": 13, "Yunnan": 13,
               "Fujian": 33, "Guangdong": 19, "Guangxi": 19, "Hainan": 50, "Hubei": 29, "Jiangxi": 32, "Liaoning": 20, "Zhejiang": 22}
area_rate_TD = {"Heilongjiang": 0.03602, "Jilin": 0.03249, "Liaoning": 0.05291, "Jiangsu": 0.07654, "Anhui": 0.07382, "Hubei": 0.07983,
                "Sichuan": 0.01744, "Guizhou": 0.02029, "Yunnan": 0.04110, "Jiangxi": 0.08004, "Hunan": 0.08053, "Zhejiang": 0.05971,
                "Fujian": 0.05924, "Guangdong": 0.08022, "Guangxi": 0.03397, "Hainan": 0.07974}
for province, stations in province_dic.items():
    for station in stations:
        graph_df.loc[graph_df.query("station == '{}'".format(station)).index, "Local storage volume (mm)"] = province_dp_volume_TD[province]
        #graph_df.loc[graph_df.query("station == '{}'".format(station)).index, "Area rate"] = area_rate_TD[province]
graph_df.loc[graph_df["Local storage volume (mm)"] < 30, "Local storage volume"] = "<30 mm"
graph_df.loc[(graph_df["Local storage volume (mm)"] >= 30) & (graph_df["Local storage volume (mm)"] <= 60), "Local storage volume"] = "30-60 mm"
graph_df.loc[graph_df["Local storage volume (mm)"] > 60, "Local storage volume"] = ">60 mm"
#graph_df.loc[graph_df["Area rate"] < 0.041, "Area rate of ditches and ponds"] = "<4%"
#graph_df.loc[(graph_df["Area rate"] >= 0.041) & (graph_df["Area rate"] <= 0.079), "Area rate of ditches and ponds"] = "4%-8%"
#graph_df.loc[graph_df["Area rate"] > 0.079, "Area rate of ditches and ponds"] = ">8%"
graph_df["Irrigation self-sufficiency"] = 1 - graph_df["Remote water reliance rate"]
graph_df

,,Aridity Index,Remote water reliance rate,Local storage volume (mm),Local storage volume,Irrigation self-sufficiency
date,station,,,,,
1988,50873,1.150220,0.871943,18.0,<30 mm,0.128057
1989,50873,1.557728,0.888056,18.0,<30 mm,0.111944
1990,50873,1.042163,0.876595,18.0,<30 mm,0.123405
1991,50873,1.087881,0.864109,18.0,<30 mm,0.135891
1992,50873,1.299777,0.867934,18.0,<30 mm,0.132066
...,...,...,...,...,...,...
2013,58818,0.966392,0.681190,41.0,30-60 mm,0.318810
2014,58818,0.567629,0.642496,41.0,30-60 mm,0.357504
2015,58818,0.383815,0.549431,41.0,30-60 mm,0.450569
2016,58818,0.416677,0.547824,41.0,30-60 mm,0.452176
2017,58818,0.858637,0.687086,41.0,30-60 mm,0.312914

In [15]:
graph_df1 = graph_df.reset_index()
graph_df1["Aridity Index05"] = graph_df1["Aridity Index"].apply(lambda x: round(x * 20) / 20)
graph_df2 = graph_df1.sort_values(by=["Local storage volume", "Aridity Index05"])
MA_df = graph_df2[["Local storage volume", "Aridity Index05", "Remote water reliance rate"]].groupby(["Local storage volume", "Aridity Index05"]).mean()
MA_df1_list = []
for volume in ["<30 mm", "30-60 mm", ">60 mm"]:
    MA_df1 = MA_df.loc[volume].rolling(window=3, min_periods=3, center=True).mean()
    MA_df1["Local storage volume"] = volume
    MA_df1_list.append(MA_df1.reset_index())
MA_df2 = pd.concat(MA_df1_list, ignore_index=True)
MA_df2.rename(columns={"Aridity Index05": "Aridity Index"}, inplace=True)
MA_df2["Irrigation self-sufficiency"] = 1 - MA_df2["Remote water reliance rate"]
MA_df2.to_csv("wf_results_2020.10/ISS-AI_means.txt", sep="\t", header=True, index=True, float_format="%.3f")
MA_df2

,Aridity Index,Remote water reliance rate,Local storage volume,Irrigation self-sufficiency
0,0.30,NaN,<30 mm,NaN
1,0.35,0.876873,<30 mm,0.123127
2,0.40,0.899321,<30 mm,0.100679
3,0.45,0.903595,<30 mm,0.096405
4,0.50,0.893200,<30 mm,0.106800
...,...,...,...,...
123,2.30,0.747757,>60 mm,0.252243
124,2.40,0.738104,>60 mm,0.261896
125,2.60,0.715165,>60 mm,0.284835
126,3.15,0.731561,>60 mm,0.268439
127,3.20,NaN,>60 mm,NaN

# Calculate system irrigation self-sufficiency for the irrigation event scale

In [21]:
input_path = "C:/Users/Dell/PycharmProjects/WQQM_PIDU/input_data/"
ponding_day_dic = {"Heilongjiang": ["5-5"], "Jilin": ["5-5"], "Jiangsu": ["5-27"], "Anhui": ["5-27"], 
                   "Hunan1S": ["5-27"], "Hunan2S": ["4-16", "7-28"], "Sichuan": ["5-27"], "Guizhou": ["5-27"], "Yunnan": ["5-27"],
                   "Fujian1S": ["6-15"], "Fujian2S": ["4-10", "7-25"], "Guangdong": ["4-10", "7-25"], "Guangxi": ["4-10", "7-25"], "Hainan": ["4-10", "7-25"], 
                   "Hubei": ["5-27"], "Jiangxi1S": ["5-27"], "Jiangxi2S": ["4-16", "7-28"], "Liaoning": ["5-10"], "Zhejiang": ["6-15"]}
ISS_NRD_dic = {}
for province in province_list:
    # 读取灌溉事件尺度（日）的灌溉数据，计算灌溉自给率
    if province in ["Heilongjiang", "Guizhou"]:
        Iall_file = "{}{}/partly centralized 1/I_d.txt".format(base_path, province)
        Ipond_file = "{}{}/partly centralized 1/I_pond_d.txt".format(base_path, province)
    else:
        Iall_file = "{}{}/totally decentralized/I_d.txt".format(base_path, province)
        Ipond_file = "{}{}/totally decentralized/I_pond_d.txt".format(base_path, province)
    Iall_d = pd.read_csv(Iall_file, sep="\t", header=0, skiprows=1, index_col=0, parse_dates=True)
    Ipond_d = pd.read_csv(Ipond_file, sep="\t", header=0, skiprows=1, index_col=0, parse_dates=True)
    Irrg_SS = Ipond_d / Iall_d
    ponding_dates = []
    for year in range(1988, 2018, 1):
        for date in ponding_day_dic[province]:
            ponding_dates.append(str(year) + "-" + date)
    Irrg_SS.loc[ponding_dates, :] = np.NAN
    # 计算前期no rain days
    if ("1S" in province) | ("2S" in province):
        province1 = province[:-2]
    else:
        province1 = province
    prcp_d_file = "{}prcp_{}.txt".format(input_path, province1)
    prcp_d = pd.read_csv(prcp_d_file, sep="\t", header=0, index_col=0, parse_dates=True)
    NRD = pd.DataFrame(index=prcp_d.index, columns=prcp_d.columns, data=np.zeros((prcp_d.shape)).astype(np.int8))
    NRD[prcp_d.shift(1) <= 0.2] = 1
    i = 1
    num_i = np.count_nonzero(NRD == i)
    while num_i > 0:
        NRD[NRD == i] = NRD + NRD.shift(i)
        i += 1
        num_i = np.count_nonzero(NRD == i)
    print(province, i)
    # 匹配no rain days和ISS
    ISS_arr = Irrg_SS.values.flatten()
    ISS_arr = ISS_arr[np.logical_not(np.isnan(ISS_arr))]
    NRD_arr = NRD[Irrg_SS >= 0].values.flatten()
    NRD_arr = NRD_arr[np.logical_not(np.isnan(NRD_arr))]
    ISS_NRD_df = pd.DataFrame({"ISS": ISS_arr, "NRD": NRD_arr, "Local storage volume (mm)": province_dp_volume_TD[province1], "province": province1})
    ISS_NRD_dic[province] = ISS_NRD_df
ISS_NRD_df = pd.concat(list(ISS_NRD_dic.values()), axis=0, ignore_index=True)
ISS_NRD_df.describe()

Heilongjiang 77
Jilin 73
Liaoning 87
Jiangsu 74
Anhui 48
Hubei 47
Sichuan 90
Guizhou 38
Yunnan 85
Jiangxi2S 48
Hunan2S 45
Hunan1S 45
Jiangxi1S 48
Zhejiang 46
Fujian1S 64
Guangdong 62
Guangxi 63
Hainan 55
Fujian2S 64

                ISS           NRD  Local storage volume (mm)
count  32268.000000  32268.000000               32268.000000
mean       0.346943      4.812942                  54.381957
std        0.309602      5.256783                  25.381633
min        0.005281      0.000000                  12.000000
25%        0.115730      1.000000                  39.000000
50%        0.220273      3.000000                  57.000000
75%        0.478932      7.000000                  79.000000
max        1.000000     51.000000                  92.000000

In [34]:
np.percentile(ISS_NRD_df["No-rain days before irrigation (days)"].values,[0,10,25,50,75,95,100])

array([ 0.,  0.,  1.,  3.,  7., 15., 51.])

In [39]:
ISS_NRD_stats = ISS_NRD_df.groupby(["Local storage volume", "No-rain days before irrigation (days)"]).describe()["Irrigation self-sufficiency"]
ISS_NRD_stats.to_csv("wf_results_2020.10/ISS_NRD_stats.txt", sep="\t", header=True, index=True)
ISS_NRD_stats

                                                             count      mean  \
Local storage volume No-rain days before irrigation (days)
30-60 mm             0.0                                    1963.0  0.448749
                     1.0                                    1867.0  0.429099
                     2.0                                    1557.0  0.401517
                     3.0                                    1442.0  0.421734
                     4.0                                    1085.0  0.378514
...                                                            ...       ...
>60 mm               36.0                                      3.0  0.138099
                     37.0                                      5.0  0.224704
                     38.0                                      2.0  0.136778
                     39.0                                      3.0  0.198033
                     41.0                                      1.0  0.268450

                                                                 std  \
Local storage volume No-rain days before irrigation (days)
30-60 mm             0.0                                    0.279211
                     1.0                                    0.286189
                     2.0                                    0.278479
                     3.0                                    0.289612
                     4.0                                    0.280944
...                                                              ...
>60 mm               36.0                                   0.024916
                     37.0                                   0.126595
                     38.0                                   0.002763
                     39.0                                   0.095792
                     41.0                                        NaN

                                                                 min  \
Local storage volume No-rain days before irrigation (days)
30-60 mm             0.0                                    0.025756
                     1.0                                    0.028615
                     2.0                                    0.020387
                     3.0                                    0.021913
                     4.0                                    0.020843
...                                                              ...
>60 mm               36.0                                   0.110780
                     37.0                                   0.080196
                     38.0                                   0.134824
                     39.0                                   0.090104
                     41.0                                   0.268450

                                                                 25%  \
Local storage volume No-rain days before irrigation (days)
30-60 mm             0.0                                    0.223273
                     1.0                                    0.210309
                     2.0                                    0.197865
                     3.0                                    0.194958
                     4.0                                    0.163421
...                                                              ...
>60 mm               36.0                                   0.127363
                     37.0                                   0.092211
                     38.0                                   0.135801
                     39.0                                   0.160569
                     41.0                                   0.268450

                                                                 50%  \
Local storage volume No-rain days before irrigation (days)
30-60 mm             0.0                                    0.370626
                     1.0                                    0.321002
                     2.0                                    0.296617
                     3.0                                    0.323766
                     4.0                                    0.275170
...                                                              ...
>60 mm               36.0                                   0.143945
                     37.0                                   0.312516
                     38.0                                   0.136778
                     39.0                                   0.231034
                     41.0                                   0.268450

                                                                 75%       max
Local storage volume No-rain days before irrigation (days)
30-60 mm             0.0                                    0.621597  1.000000
                     1.0                                    0.586592  1.000000
                     2.0                                    0.525703  1.000000
                     3.0                                    0.607819  1.000000
                     4.0                                    0.512624  1.000000
...                                                              ...       ...
>60 mm               36.0                                   0.151759  0.159572
                     37.0                                   0.313753  0.324844
                     38.0                                   0.137755  0.138732
                     39.0                                   0.251998  0.272962
                     41.0                                   0.268450  0.268450

[133 rows x 8 columns]

In [23]:
ISS_NRD_df.loc[ISS_NRD_df["Local storage volume (mm)"] < 30, "Local storage volume"] = "<30 mm"
ISS_NRD_df.loc[(ISS_NRD_df["Local storage volume (mm)"] >= 30) & (ISS_NRD_df["Local storage volume (mm)"] <= 60), "Local storage volume"] = "30-60 mm"
ISS_NRD_df.loc[ISS_NRD_df["Local storage volume (mm)"] > 60, "Local storage volume"] = ">60 mm"
ISS_NRD_df.rename(columns={"NRD": "No-rain days before irrigation (days)", "ISS": "Irrigation self-sufficiency"}, inplace=True)
ISS_NRD_df.to_csv("wf_results_2020.10/ISS-NRD_irrigation_events_excludingPonding.txt", sep="\t", header=True, index=False)

In [26]:
ISS_NRD_df1 = ISS_NRD_df.sort_values(by=["Local storage volume", "No-rain days before irrigation (days)"])
MA_NRD_df = ISS_NRD_df1[["Local storage volume", "No-rain days before irrigation (days)", "Irrigation self-sufficiency"]].groupby(["Local storage volume", "No-rain days before irrigation (days)"]).mean()
MA_NRD_df1_list = []
for volume in ["<30 mm", "30-60 mm", ">60 mm"]:
    MA_NRD_df1 = MA_NRD_df.loc[volume].rolling(window=3, min_periods=3, center=True).mean()
    MA_NRD_df1["Local storage volume"] = volume
    MA_NRD_df1_list.append(MA_NRD_df1.reset_index())
MA_NRD_df2 = pd.concat(MA_NRD_df1_list, ignore_index=True)
MA_NRD_df2.to_csv("wf_results_2020.10/ISS-NRD_mean.txt", sep="\t", header=True, index=False)
MA_NRD_df2

,No-rain days before irrigation (days),Irrigation self-sufficiency,Local storage volume
0,0.0,NaN,<30 mm
1,1.0,0.153772,<30 mm
2,2.0,0.147127,<30 mm
3,3.0,0.140598,<30 mm
4,4.0,0.132618,<30 mm
...,...,...,...
128,36.0,0.171535,>60 mm
129,37.0,0.166527,>60 mm
130,38.0,0.186505,>60 mm
131,39.0,0.201087,>60 mm
132,41.0,NaN,>60 mm